#https://www.mkdocs.org/user-guide/configuration/#
site_name: HEAL Example Analysis
site_url: https://heal-docs-dev.io
repo_url:
nav:
  - Home: index.md
  - Return to Platform: https://healdata.org/
  - Example Analysis Notebooks:
    - BACPAC Synthetic Data Analysis: notebooks/BACPAC_Synthetic_Data_Analysis.md

  - FAQs: faqs.md
  - Contact: contact.md

theme:
  name: material
  palette:
    scheme: heal_platform
  font:
    text: Montserrat
  logo: assets/HEAL_Initiative_White-cropped.svg
  features:
    - navigation.indexes
    # Disable for now, as it causes problems with links to sections in Safari
    # https://github.com/squidfunk/mkdocs-material/issues/3797
    # - navigation.instant
    - navigation.indexes
    #- navigation.tabs
    #- navigation.tabs.sticky
    - navigation.tracking
    #- navigation.sections
    #- toc.integrate
  favicon: img/heal_logo.png
extra_css:
  - stylesheets/extra.css
extra:
  homepage: https://healdata.org
use_directory_urls: true
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - toc:
      permalink: True
      baselevel: 1
  - pymdownx.superfences
  - pymdownx.details
plugins:
  - search
  #- redirects:
      #redirect_maps:
        #'file.md': 'redired_folder/index.md'
  - mkdocs-video:
      is_video: True
