#https://www.mkdocs.org/user-guide/configuration/#
site_name: HEAL Example Analysis
site_url: https://heal-docs-dev.io
repo_url:
nav:
  - Home: index.md
  - Return to Platform: https://healdata.org/
  - Example Analysis Notebooks:
    - BACPAC Synthetic Data Analysis: notebooks/BACPAC_Synthetic_Data_Analysis.md
    - Stigma Reduction Among PCCs: notebooks/Stigma-Reduction-Among_PCCs.md
    - Opioid Risk Metric Threshold Identification - Study Recreation: notebooks/Opioid_Risk_Metric_Threshold_Identification-Study_Recreation.md
    - Opioid Prevalence And Overdoses: notebooks/Opioid_Prevalence_And_Overdoses.md
    - Non-Opioid Treatment Of Neuropathic Pain: notebooks/High-Resolution-Spinal-Cord-Stimulation-for-Non-Opioid-Treatment-of-Neuropathic-Pain.md
    - MTF 12th Grader Opiate Use In 2019: notebooks/Monitoring_The_Future_12th_Grader_Opiate_Use_In_2019.md
  - FAQs: faq.md
  - Contact: contact.md

theme:
  name: material
  palette:
    scheme: heal_platform
  font:
    text: Montserrat
  logo: assets/HEAL_Initiative_White-cropped.svg
  features:
    - navigation.indexes
    # Disable for now, as it causes problems with links to sections in Safari
    # https://github.com/squidfunk/mkdocs-material/issues/3797
    # - navigation.instant
    - navigation.indexes
    #- navigation.tabs
    #- navigation.tabs.sticky
    - navigation.tracking
    #- navigation.sections
    #- toc.integrate
  favicon: img/heal_logo.png
extra_css:
  - stylesheets/extra.css
extra:
  homepage: https://healdata.org
use_directory_urls: true
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - toc:
      permalink: True
      baselevel: 1
  - pymdownx.superfences:
  #  - custom_fences:
  #      - name: mermaid
  #        class: mermaid
  #        format: !!python/name:mermaid2.fence_mermaid_custom
  #- pymdownx.details
plugins:
  - search
  #- myst-parser
  #- mkdocs-jupyter
  #- mkdocs-mermaid2-plugin
  #- redirects:
      #redirect_maps:
        #'file.md': 'redired_folder/index.md'
