name: SnykCLI for Poetry
on: [workflow_call]
timeout-minutes: 15
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SRVC_SNYKGITACTION }}
        with:
          command: --command=python3 --org=plan-x
          args: --severity-threshold=high
